alembic>=1.13.3
email-validator>=2.2.0
flask>=3.0.3
flask-sqlalchemy>=3.1.1
jinja2>=3.1.4
passlib[bcrypt]>=1.7.4
psycopg2-binary>=2.9.9
pydantic>=2.9.0
pydantic-settings>=2.5.2
python-jose[cryptography]>=3.3.0
sqlalchemy>=2.0.35
python-dotenv>=1.0.0